<nav class="navbar navbar-expand-lg navbar-light p-3 mb-2 bg-info">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/login"><h3>CARRITO°</h3></a>
  </div>
</nav>
<div class="d-flex" style="height: 100px;">
  <div class="vr"></div>
</div>

<form [formGroup]="formulario" class="card w-25 mx-auto">
  <div class="card-body text-center">
    <h3>Registrarse</h3>
  </div>
  <div class="card-body">
    <h6>Ingresar datos del domicilio</h6>
  </div>
  <div class=" card-body">
    <span class="form-text">Todos los campos son obligatorios</span>
  </div>
  <div class=" card-body">
    <label class="form-label">Calle</label>
    <input class="form-control" formControlName="calle">
  </div>
  <div class="error card-body" *ngIf="formulario.controls['calle'].errors?.['required']  && formulario.controls['calle'].touched">
    <span class="form-text">*El campo calle es obligatorio</span>
  </div>
  <div class=" card-body">
    <label class="form-label">Numero</label>
    <input class="form-control" formControlName="numero">
  </div>
  <div class="error card-body" *ngIf="formulario.controls['numero'].errors?.['required']  && formulario.controls['numero'].touched">
    <span class="form-text">*El campo numero es obligatorio</span>
  </div>
  <div class=" card-body">
    <label class="form-label">Colonia</label>
    <input class="form-control" formControlName="colonia">
  </div>
  <div class="error card-body" *ngIf="formulario.controls['colonia'].errors?.['required']  && formulario.controls['colonia'].touched">
    <span class="form-text">*El campo colonia es obligatorio</span>
  </div>
  <div class=" card-body">
    <label class="form-label">Municipio</label>
    <input class="form-control" formControlName="municipio">
  </div>
  <div class="error card-body" *ngIf="formulario.controls['municipio'].errors?.['required']  && formulario.controls['municipio'].touched">
    <span class="form-text">*El campo municipio es obligatorio</span>
  </div>
  <div class=" card-body">
    <label class="form-label">Estado</label>
    <input class="form-control" formControlName="estado">
  </div>
  <div class="error card-body" *ngIf="formulario.controls['estado'].errors?.['required']  && formulario.controls['estado'].touched">
    <span class="form-text">*El campo estado es obligatorio</span>
  </div>
  <div class=" card-body">
    <label class="form-label">Pais</label>
    <input class="form-control" formControlName="pais">
  </div>
  <div class="error card-body" *ngIf="formulario.controls['pais'].errors?.['required']  && formulario.controls['pais'].touched">
    <span class="form-text">*El campo pais es obligatorio</span>
  </div>
  <div class=" card-body">
    <label class="form-label">Codigo postal</label>
    <input class="form-control" formControlName="codigo_postal">
  </div>
  <div class="error card-body" *ngIf="formulario.controls['codigo_postal'].errors?.['required']  && formulario.controls['codigo_postal'].touched">
    <span class="form-text">*El campo codigo postal es obligatorio</span>
  </div>
  <div class=" card-body d-flex justify-content-between">
    <button type="button" class="btn btn-info" routerLink="/login/register">Regresar</button>
    <button type="button" class="btn btn-info" routerLink="/login" (click)="register()">Registrar</button>
  </div>
</form>
<div class="d-flex" style="height: 105px;">
  <div class="vr"></div>
</div>

<footer id="footer" class="footer">
  <div class="cen">
    <div class="row ">
      <div class="four columns ">
        <nav id="secundaria" class="menu">
          <a class="enlace" href="#">¿Quienes Somos?</a>
          <a class="enlace" href="#">Soporte</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
