<nav class="navbar navbar-expand-lg navbar-light p-3 mb-2 bg-info">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/login"><h3>CARRITO°</h3></a>
  </div>
</nav>

<section>
  <div class="centrado5">
    <form class="card" >
      <div class=" card-body">
        <h1>Seleccione la opcion que desea utilizar</h1>
      </div>
      <div>
        <div class=" card-body d-flex justify-content-between">
          <div class=" card-body">
            <h5> Ingresar aqui para registrar un usuario</h5>
            <button type="button" class="btn btn-info" routerLink="/login/crud/user">Entrar</button>
          </div>
          <div class=" card-body">
            <h5> Ingresar aqui para registrar la direccion del usuario</h5>
            <button type="button" class="btn btn-info" routerLink="/login/crud/dirc">Entrar</button>
          </div>
          <div class=" card-body">
            <h5> Ingresar aqui para verificar las tablas</h5>
            <button type="button" class="btn btn-info" routerLink="/login/crud/tablas">Entrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<section>
  <div class="centrado">
    <h1>Tabla de usuarios, direccion y rol</h1>
    <div class="card">
      <table class="tabla">
        <tr class="tabla-color">
          <th>id_usuario</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Password</th>
          <th>id_rol</th>
          <th>Calle</th>
          <th>Numero</th>
          <th>Colonia</th>
          <th>Municipio</th>
          <th>Estado</th>
          <th>Pais</th>
          <th>Codigo_postal</th>
          <th>Modificar/Eliminar</th>
        </tr>
        <tr *ngFor="let item of arrusuariodr">
          <td>{{item.id_usuario}} </td>
          <td>{{item.nombre}} </td>
          <td>{{item.correo}}</td>
          <td>{{item.password}} </td>
          <td>{{item.id_rol}}</td>
          <td>{{item.calle}}</td>
          <td>{{item.numero}}</td>
          <td>{{item.colonia}} </td>
          <td>{{item.municipio}} </td>
          <td>{{item.estado}} </td>
          <td>{{item.pais}} </td>
          <td>{{item.codigo_postal}} </td>
          <td class="iconos">
            <button  [routerLink]="['/login/crud/',item.id_usuario]" >
              <img
                src="../../../assets/img/editar.png"
                alt="Modificar"
                width="30"
              />
            </button>
            <button (click)="delete(item.id_usuario)">
              <img
                src="../../../assets/img/bote-de-basura.png"
                alt="Eliminar"
                width="30"
              />
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
