<app-navbar></app-navbar>

<div class="col_producto container">

<h2> {{producto['nombre_producto'] | uppercase}} </h2>

    <div class="grid_product">
        <div class="img_product">
            <img [src]="producto.imagen" alt="">
            <div class="precio">
                <p> <span>Precio:</span> MXN ${{producto.precio_producto}} </p>
            </div>
        </div>

        <div class="descrip_pro">
            <p> {{producto.descripbr_producto}} </p>
        </div>

        

    </div>

    <a  class="btn">Agregar al carrito</a>
       
</div>


