<nav class="navbar navbar-expand-lg navbar-light p-3 mb-2 bg-info">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"><h3>CARRITO°</h3></a>
  </div>
</nav>
<div class="d-flex" style="height: 100px;">
  <div class="vr"></div>
</div>

<form class="card w-25 mx-auto">
  <div class="card-body text-center">
    <h3>Registrarse</h3>
  </div>
  <div class="card-body">
    <h6>Ingresar datos del domicilio</h6>
  </div>
  <div class=" card-body">
    <span class="form-text">Todos los campos son obligatorios</span>
  </div>
  <div class=" card-body">
    <label class="form-label">Calle</label>
    <input class="form-control">
  </div>
  <div class=" card-body">
    <label class="form-label">Numero</label>
    <input class="form-control">
  </div>
  <div class=" card-body">
    <label class="form-label">Colonia</label>
    <input class="form-control">
  </div>
  <div class=" card-body">
    <label class="form-label">Municipio</label>
    <input class="form-control">
  </div>
  <div class=" card-body">
    <label class="form-label">Estado</label>
    <input class="form-control">
  </div>
  <div class=" card-body">
    <label class="form-label">Pais</label>
    <input class="form-control">
  </div>
  <div class=" card-body">
    <label class="form-label">Codigo postal</label>
    <input class="form-control">
  </div>
  <div class=" card-body d-flex justify-content-between">
    <button type="button" class="btn btn-info" routerLink="/Register">Regresar</button>
    <button type="button" class="btn btn-info" routerLink="/Login">Registrar</button>
  </div>
</form>
<div class="d-flex" style="height: 105px;">
  <div class="vr"></div>
</div>

<footer id="footer" class="footer">
  <div class="cen">
    <div class="row ">
      <div class="four columns ">
        <nav id="secundaria" class="menu">
          <a class="enlace" href="#">¿Quienes Somos?</a>
          <a class="enlace" href="#">Soporte</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
